
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="author" content="templatemo">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">

    <title>ACP</title>
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
     <link rel="stylesheet" href="~/assets/css/templatemo-snapx-photography.css"> 
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <!-- to use icons from bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <!--

    TemplateMo 576 SnapX Photography

    https://templatemo.com/tm-576-snapx-photography

    -->
</head>

<body>


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container-fluid"> 
             <div class="row">  
                <div class="col-12">  
                    <nav class="main-nav navbar navbar-expand-lg">
                        <!-- ***** Logo Start ***** -->
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="logo">
                            <img src="~/assets/images/ACP.png" alt="SnapX Photography Template">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav navbar-nav">
                            <li class="nav-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index" class="active">Home</a></li>
                            <li class="nav-item"><a asp-area="Admin" asp-controller="Admins" asp-action="Index">Admins</a></li>
                            <li class="nav-item"><a asp-area="Admin" asp-controller="Members" asp-action="Index">Members</a></li>
                            <li class="nav-item"><a asp-area="Admin" asp-controller="Events" asp-action="Index">Events</a></li>
                            <li class="nav-item"><a asp-area="Admin" asp-controller="Guides" asp-action="Index">Guides</a></li>
                            <li class="nav-item"><a asp-area="Admin" asp-controller="UserLookups" asp-action="Index">Lookups</a></li>
                        </ul>
                        <div class="border-button">
                            <a asp-area="Admin" asp-controller="Home" asp-action="Logout" class="sign-in-up"><i class="fa fa-user"></i> Logout</a>
                        </div>
                    </nav>
            </div>

             </div>  
       </div>  
    </header>
    <!-- ***** Header Area End ***** -->
<section>
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
</section>
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/assets/js/isotope.min.js"></script>
    <script src="~/assets/js/owl-carousel.js"></script> 

    <script src="~/assets/js/tabs.js"></script>
     <script src="~/assets/js/popup.js"></script>
    <script src="~/assets/js/custom.js"></script> 

</body>
</html>
